Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: pnpm biome check {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: pnpm tsc --noEmit

chore: update dependencies
  .watchmanconfig
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:kotlin

fix(android): preserve map view across detach
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
Due: lint:kotlin

fix: fix multiple onStop Call
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
Due: lint:kotlin

chore: unconscious commit
  example/android/app/build.gradle
Due: none

Fix(Android): Restore SavedInstanceState & Don't destroy map on `onDetachedFromWindow` & Remove multiple `onStop` call on MapView (#176)
  .watchmanconfig
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
  example/android/app/build.gradle
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:kotlin

chore: unconscious commit
  docs/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: unconscious commit
  package.json
Due: none

chore: release 2.6.7 [skip ci]
  package.json
Due: none

chore: update react-native-builder-bob to ^0.40.15
  package.json
  pnpm-lock.yaml
Due: none

chore(docs): upgrade to Next.js 16 and update dependencies
  docs/package.json
  docs/src/proxy.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:js, typecheck

fix(docs): update fumadocs-mdx import path for v14
  docs/src/lib/source.ts
  docs/tsconfig.json
Due: lint:js, typecheck

style(docs): apply code style consistency
  docs/src/app/[lang]/docs/[[...slug]]/page.tsx
  docs/src/app/[lang]/layout.tsx
Due: lint:js, typecheck

chore: sync version to 2.6.7
  package.json
Due: none

ci: add docs build job to workflow
  .github/workflows/ci.yml
Due: none

fix(docs): upgrade to Next.js 16 and fix fumadocs integration (#177)
  .github/workflows/ci.yml
  docs/package.json
  docs/src/app/[lang]/docs/[[...slug]]/page.tsx
  docs/src/app/[lang]/layout.tsx
  docs/src/lib/source.ts
  docs/src/proxy.ts
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:js, typecheck

fix(android): Support file:// and content:// URIs for marker images after CodePush
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/GetOverlayImage.kt
Due: lint:kotlin

feat: implement InfoWindow component for Naver Map
  .claude/implementations/infowindow-implementation.md
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  android/src/newarch/RNCNaverMapInfoWindowManagerSpec.kt
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapInfoWindow.tsx
  src/index.tsx
  src/spec/RNCNaverMapInfoWindowNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

feat: enhance InfoWindow functionality with marker identifier support but ios not finish
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  package.json
  src/component/NaverMapInfoWindow.tsx
  src/component/NaverMapMarkerOverlay.tsx
  src/spec/RNCNaverMapInfoWindowNativeComponent.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

feat: enhance InfoWindow with platform-specific styling support and improved marker integration
  .claude/implementations/infowindow-implementation.md
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapInfoWindow.tsx
Due: lint:js, lint:objc, typecheck

feat: add InfoWindowScreen to App
  example/src/App.tsx
  example/src/screens/InfoWindowScreen.tsx
Due: lint:js, typecheck

docs: add NaverMapInfoWindow component for displaying info windows on markers
  docs/content/docs/components/overlays/meta.json
  docs/content/docs/components/overlays/meta.ko.json
  docs/content/docs/components/overlays/naver-map-info-window.ko.mdx
  docs/content/docs/components/overlays/naver-map-info-window.mdx
Due: none

feat: enhance InfoWindow component with separate horizontal and vertical padding properties
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  example/src/screens/InfoWindowScreen.tsx
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  src/component/NaverMapInfoWindow.tsx
  src/spec/RNCNaverMapInfoWindowNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

refactor: clean up whitespace and improve code formatting
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/newarch/RNCNaverMapInfoWindowManagerSpec.kt
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapViewImpl.mm
Due: lint:objc, lint:kotlin

feat: implement custom styling support for InfoWindow on iOS
  .claude/implementations/infowindow-implementation.md
  docs/content/docs/components/overlays/naver-map-info-window.ko.mdx
  docs/content/docs/components/overlays/naver-map-info-window.mdx
  example/src/screens/InfoWindowScreen.tsx
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  src/component/NaverMapInfoWindow.tsx
Due: lint:js, lint:objc, typecheck

chore: hoist packages
  example/ios/Podfile.lock
  example/react-native.config.js
  pnpm-workspace.yaml
Due: lint:js

chore: unconscious commit 🎲
  example/android/settings.gradle
Due: none

chore: unconscious commit 🎲
  lefthook.yml
Due: none

chore: unconscious commit 🎲
  .husky/_/check
  .husky/_/commit-msg
  .husky/_/format
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  example/android/app/build.gradle
  lefthook.yml
  pnpm-workspace.yaml
Due: none

Fix CI Build + local Build (#180)
  .husky/_/check
  .husky/_/commit-msg
  .husky/_/format
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  example/android/app/build.gradle
  example/android/settings.gradle
  example/ios/Podfile.lock
  example/react-native.config.js
  lefthook.yml
  pnpm-workspace.yaml
Due: lint:js

refactor(android): Rename httpUri to assetUri for better clarity
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/GetOverlayImage.kt
Due: lint:kotlin

fix(android): Fix marker images disappearing after CodePush update (#179)
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/GetOverlayImage.kt
Due: lint:kotlin

chore: fix ktlint
  .github/workflows/ci.yml
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/image/GetOverlayImage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/SizeReportingShadowNode.kt
Due: lint:kotlin

chore: release 2.7.0 [skip ci]
  package.json
Due: none

docs(agents): add hierarchical AGENTS.md guides
  AGENTS.md
  android/AGENTS.md
  docs/AGENTS.md
  example/AGENTS.md
  expo-config-plugin/AGENTS.md
  ios/AGENTS.md
  script/AGENTS.md
  src/AGENTS.md
  src/component/AGENTS.md
  src/spec/AGENTS.md
Due: none

docs(agents): add hierarchical AGENTS.md guides (#181)
  AGENTS.md
  android/AGENTS.md
  docs/AGENTS.md
  example/AGENTS.md
  expo-config-plugin/AGENTS.md
  ios/AGENTS.md
  script/AGENTS.md
  src/AGENTS.md
  src/component/AGENTS.md
  src/spec/AGENTS.md
Due: none

docs: add dev patterns guide reference
  AGENTS.md
  docs/dev-patterns.md
Due: none

fix(info-window): wire map commands and align open state checks
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapUtilModule.kt
  ios/Module/RNCNaverMapUtil.mm
  src/component/NaverMapView.tsx
Due: lint:js, lint:objc, lint:kotlin, typecheck

Revert "docs: add dev patterns guide reference"
  AGENTS.md
  docs/dev-patterns.md
Due: none

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: *.{h,mm,m,hpp,cpp,c}
  lint:kotlin: any of: *.kt
  typecheck: any of: *.{ts,tsx}
