Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome check {staged_files}
    lint:objc:
      glob: "*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {staged_files}
    lint:kotlin:
      glob: "*.kt"
      run: bash ./script/ktlint-lint.sh {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

format:
  parallel: true
  commands:
    format:objc:
      glob: "*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-format.sh {all_files}
    format:kotlin:
      glob: "*.kt"
      run: bash ./script/ktlint-format.sh {all_files}
    format:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome check --fix

check:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome check {staged_files}
    lint:objc:
      glob: "*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {all_files}
    lint:kotlin:
      glob: "*.kt"
      run: bash ./script/ktlint-lint.sh {all_files}
    typecheck:package:
      run: pnpm tsc --noEmit
    typecheck:example:
      root: example
      run: pnpm tsc --noEmit
    typecheck:docs:
      root: docs
      run: pnpm tsc --noEmit
    build-expo-config-plugin:
      run: pnpm build:expo-config-plugin
    build-package:
      run: pnpm bob build
#    build-docs:
#      run: pnpm build:docs

commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit

feat: add fumadocs i18n file structure pattern
  .claude/patterns/019-fumadocs-i18n-file-structure.md
  CLAUDE.md
Due: none

feat: add Korean localization files
  docs/content/docs/camera-control.ko.mdx
  docs/content/docs/components/index.ko.mdx
  docs/content/docs/components/meta.ko.json
  docs/content/docs/components/naver-map-view.ko.mdx
  docs/content/docs/components/overlays/common-overlay-usage.ko.mdx
  docs/content/docs/components/overlays/meta.ko.json
  docs/content/docs/components/overlays/naver-map-arrowhead-path-overlay.ko.mdx
  docs/content/docs/components/overlays/naver-map-circle-overlay.ko.mdx
  docs/content/docs/components/overlays/naver-map-ground-overlay.ko.mdx
  docs/content/docs/components/overlays/naver-map-marker-overlay.ko.mdx
  docs/content/docs/components/overlays/naver-map-multi-path-overlay.ko.mdx
  docs/content/docs/components/overlays/naver-map-path-overlay.ko.mdx
  docs/content/docs/components/overlays/naver-map-polygon-overlay.ko.mdx
  docs/content/docs/components/overlays/naver-map-polyline-overlay.ko.mdx
  docs/content/docs/index.ko.mdx
  docs/content/docs/installation/android/index.ko.mdx
  docs/content/docs/installation/android/meta.ko.json
  docs/content/docs/installation/android/permissions.ko.mdx
  docs/content/docs/installation/api-key.ko.mdx
  docs/content/docs/installation/expo/index.ko.mdx
  docs/content/docs/installation/expo/meta.ko.json
  docs/content/docs/installation/expo/permissions.ko.mdx
  docs/content/docs/installation/ios/index.ko.mdx
  docs/content/docs/installation/ios/meta.ko.json
  docs/content/docs/installation/ios/permissions.ko.mdx
  docs/content/docs/installation/meta.ko.json
  docs/content/docs/marker-clustering.ko.mdx
  docs/content/docs/meta.ko.json
  docs/content/docs/optimization.ko.mdx
Due: none

feat: add English translations for documentation
  docs/content/docs/camera-control.mdx
  docs/content/docs/components/index.mdx
  docs/content/docs/components/meta.json
  docs/content/docs/components/naver-map-view.mdx
  docs/content/docs/components/overlays/common-overlay-usage.mdx
  docs/content/docs/components/overlays/meta.json
  docs/content/docs/components/overlays/naver-map-arrowhead-path-overlay.mdx
  docs/content/docs/components/overlays/naver-map-circle-overlay.mdx
  docs/content/docs/components/overlays/naver-map-ground-overlay.mdx
  docs/content/docs/components/overlays/naver-map-marker-overlay.mdx
  docs/content/docs/components/overlays/naver-map-multi-path-overlay.mdx
  docs/content/docs/components/overlays/naver-map-path-overlay.mdx
  docs/content/docs/components/overlays/naver-map-polygon-overlay.mdx
  docs/content/docs/components/overlays/naver-map-polyline-overlay.mdx
  docs/content/docs/index.mdx
  docs/content/docs/installation/android/index.mdx
  docs/content/docs/installation/android/meta.json
  docs/content/docs/installation/android/permissions.mdx
  docs/content/docs/installation/api-key.mdx
  docs/content/docs/installation/expo/index.mdx
  docs/content/docs/installation/expo/meta.json
  docs/content/docs/installation/expo/permissions.mdx
  docs/content/docs/installation/ios/index.mdx
  docs/content/docs/installation/ios/meta.json
  docs/content/docs/installation/ios/permissions.mdx
  docs/content/docs/installation/meta.json
  docs/content/docs/marker-clustering.mdx
  docs/content/docs/meta.json
  docs/content/docs/milestone.mdx
  docs/content/docs/optimization.mdx
Due: none

feat: configure Fumadocs layouts for i18n support
  docs/src/app/[lang]/(home)/layout.tsx
  docs/src/app/[lang]/docs/layout.tsx
  docs/src/lib/layout.shared.tsx
Due: lint:js, typecheck

docs: enhance i18n pattern with meta file translation guide
  .claude/patterns/019-fumadocs-i18n-file-structure.md
  .claude/settings.local.json
Due: none

fix: format meta.json files and remove trailing whitespace
  docs/content/docs/components/meta.json
  docs/content/docs/components/overlays/meta.json
  docs/content/docs/installation/android/meta.json
  docs/content/docs/installation/expo/meta.json
  docs/content/docs/installation/ios/meta.json
  docs/content/docs/installation/meta.json
  docs/content/docs/meta.json
Due: none

feat: add GitHub star count display feature
  docs/src/app/[lang]/(home)/page.tsx
Due: lint:js, typecheck

chore: unconscious commit 🐋
  docs/package.json
  docs/src/app/[lang]/(home)/page.tsx
  docs/src/lib/components/bits/prism.tsx
  docs/src/lib/components/resource-cards.tsx
  docs/src/lib/components/terminal-codeblock.tsx
  pnpm-lock.yaml
Due: lint:js, typecheck

chore: unconscious commit 🎲
  docs/src/app/[lang]/(home)/page.tsx
Due: lint:js, typecheck

chore: unconscious commit 🎲
  docs/src/app/[lang]/layout.tsx
Due: lint:js, typecheck

docs: standardize claude pattern keywords and update documentation
  .claude/commands/page-refer.md
  .claude/commands/page-save.md
  .claude/commands/pattern-create.md
  .claude/commands/pattern-use.md
  .claude/commands/plan-create.md
  .claude/commands/plan-resolve.md
  .claude/commands/spec-refer.md
  .claude/commands/spec.md
  .claude/patterns/001-fabric-native-component.md
  .claude/patterns/002-codegen-native-commands.md
  .claude/patterns/003-turbo-module-spec.md
  .claude/patterns/004-ios-fabric-component.md
  .claude/patterns/005-ios-command-handling.md
  .claude/patterns/006-ios-event-emission.md
  .claude/settings.local.json
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: none

docs: complete pattern keyword standardization
  .claude/patterns/001-fabric-native-component.md
  .claude/patterns/002-codegen-native-commands.md
  .claude/patterns/003-turbo-module-spec.md
  .claude/patterns/004-ios-fabric-component.md
  .claude/patterns/005-ios-command-handling.md
  .claude/patterns/006-ios-event-emission.md
  .claude/patterns/007-ios-turbo-module.md
  .claude/patterns/008-android-view-manager-spec.md
  .claude/patterns/009-android-command-handling.md
  .claude/patterns/010-android-event-emission.md
  .claude/patterns/011-android-package-registration.md
  .claude/patterns/012-jsdoc.md
  .claude/patterns/013-native-color-parsing-validation-typescript.md
  .claude/patterns/014-android-native-utilities.md
  .claude/patterns/015-ios-native-utilities.md
  .claude/patterns/016-ios-overlay-integration.md
  .claude/patterns/018-fumadocs-usage.md
  .claude/patterns/019-fumadocs-i18n-file-structure.md
  CLAUDE.md
Due: none

feat: add expo example as submodule
  .gitmodules
Due: none

feat: implement custom style editor support for NaverMapView
  .claude/plans/001-custom-style-editor-implementation-for-navermapview.md
  .claude/plans/002-expo-sdk-54-example-repository-setup-with-submodule-integration.md
  .claude/settings.local.json
  CLAUDE.md
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapCustomStyleLoadFailedEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapCustomStyleLoadedEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  docs/content/docs/custom-style.ko.mdx
  docs/content/docs/custom-style.mdx
  docs/content/docs/meta.json
  example/src/App.tsx
  ios/RNCNaverMapView.mm
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

docs: add custom-style to Korean meta.json
  docs/content/docs/meta.ko.json
Due: none

chore: update cc-self-refer CLI commands to remove -y flag
  android/.claude/settings.local.json
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/ViewAttacherGroup.kt
Due: lint:kotlin

fix: remove deprecated setOverflow call for RN 0.81+ compatibility
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/ViewAttacherGroup.kt
Due: lint:kotlin

fix: remove deprecated setOverflow call for RN 0.81+ compatibility (#163)
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/ViewAttacherGroup.kt
Due: lint:kotlin

chore: release 2.6.1 [skip ci]
  package.json
Due: none

fix: improve custom style API for iOS implementation
  ios/RNCNaverMapView.mm
Due: lint:objc

chore: update example iOS dependencies
  example/ios/Podfile.lock
Due: none

docs: remove completed custom map styling milestone
  docs/content/docs/milestone.mdx
Due: none

docs: remove redundant pattern detection section from CLAUDE.md
  CLAUDE.md
Due: none

docs: clean up NaverMapView interface documentation
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

chore: release 2.6.2 [skip ci]
  package.json
Due: none

feat(docs): add umami analytics script to documentation site
  docs/src/app/[lang]/layout.tsx
Due: lint:js, typecheck

feat: remove prism 3D background effect
  docs/src/lib/components/bits/prism.tsx
Due: lint:js, typecheck

fix: update permission patterns for cc-self-refer commands
  .claude/settings.local.json
Due: none

chore: remove unused ogl dependency and prism imports
  docs/package.json
  docs/src/app/[lang]/(home)/page.tsx
Due: lint:js, typecheck

chore: update lock
  pnpm-lock.yaml
Due: none

feat: implement InfoWindow component for Naver Map
  .claude/implementations/infowindow-implementation.md
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  android/src/newarch/RNCNaverMapInfoWindowManagerSpec.kt
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapInfoWindow.tsx
  src/index.tsx
  src/spec/RNCNaverMapInfoWindowNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

feat: enhance InfoWindow functionality with marker identifier support but ios not finish
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  example/src/App.tsx
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  package.json
  src/component/NaverMapInfoWindow.tsx
  src/component/NaverMapMarkerOverlay.tsx
  src/spec/RNCNaverMapInfoWindowNativeComponent.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

feat: enhance InfoWindow with platform-specific styling support and improved marker integration
  .claude/implementations/infowindow-implementation.md
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapInfoWindow.tsx
Due: lint:js, lint:objc, typecheck

feat: improve codegen command interface naming for RN 0.81+ compatibility
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

feat: improve codegen command interface naming for RN 0.81+ compatibility (#165)
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

docs: update readme.md
  README.md
Due: none

chore: release 2.6.3 [skip ci]
  package.json
Due: none
