Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: yarn biome check {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: yarn tsc --noEmit

feat: refactor multipath overlay to use unified pathParts prop
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPath.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPathManager.kt
  example/src/App.tsx
  src/component/NaverMapMultiPathOverlay.tsx
  src/index.tsx
  src/spec/RNCNaverMapMultiPathNativeComponent.ts
  src/types/MultiPathPart.ts
Due: lint:js, lint:kotlin, typecheck

docs: enhance Claude Code patterns and commands with better structure
  .claude/commands/pattern-create.md
  .claude/commands/plan-create.md
  .claude/commands/plan-resolve.md
  .claude/commands/spec.md
  .claude/patterns/001-fabric-native-component.md
  .claude/patterns/002-codegen-native-commands.md
  .claude/patterns/003-turbo-module-spec.md
  .claude/patterns/004-ios-fabric-component.md
  .claude/patterns/005-ios-command-handling.md
  .claude/patterns/006-ios-event-emission.md
  .claude/patterns/007-ios-turbo-module.md
  .claude/patterns/008-android-view-manager-spec.md
  .claude/patterns/009-android-command-handling.md
  .claude/patterns/010-android-event-emission.md
  .claude/patterns/011-android-package-registration.md
  .claude/patterns/012-jsdoc-typedoc.md
  .claude/patterns/013-native-color-parsing-validation-typescript.md
  .claude/patterns/014-android-native-utilities.md
  .claude/patterns/015-ios-native-utilities.md
  .claude/patterns/016-ios-overlay-integration.md
  .claude/settings.local.json
Due: none

feat: implement MultiPath overlay native integration
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.h
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  package.json
Due: lint:objc

feat: enhance example app with improved MultiPath configuration
  example/src/App.tsx
  example/src/logo180.png
Due: lint:js, typecheck

refactor: improve Android bitmap creation using modern API
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGround.kt
Due: lint:kotlin

feat: add progress property to MultiPath overlay
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPathManager.kt
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.mm
  src/component/NaverMapMultiPathOverlay.tsx
  src/spec/RNCNaverMapMultiPathNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

fix: implement missing patternInterval property in iOS Path overlay
  ios/Overlay/Path/RNCNaverMapPath.mm
Due: lint:objc

feat: enhance example app with MultiPath progress demonstration
  example/src/App.tsx
Due: lint:js, typecheck

chore: update Claude Code configuration and add plans directory
  .claude/plans/001-ios-multipath-overlay-implementation.md
  .claude/settings.local.json
Due: none

feat: implement MultiPath overlay with progress property and enhanced documentation (#156)
  .claude/commands/pattern-create.md
  .claude/commands/plan-create.md
  .claude/commands/plan-resolve.md
  .claude/commands/spec.md
  .claude/patterns/001-fabric-native-component.md
  .claude/patterns/002-codegen-native-commands.md
  .claude/patterns/003-turbo-module-spec.md
  .claude/patterns/004-ios-fabric-component.md
  .claude/patterns/005-ios-command-handling.md
  .claude/patterns/006-ios-event-emission.md
  .claude/patterns/007-ios-turbo-module.md
  .claude/patterns/008-android-view-manager-spec.md
  .claude/patterns/009-android-command-handling.md
  .claude/patterns/010-android-event-emission.md
  .claude/patterns/011-android-package-registration.md
  .claude/patterns/012-jsdoc-typedoc.md
  .claude/patterns/013-native-color-parsing-validation-typescript.md
  .claude/patterns/014-android-native-utilities.md
  .claude/patterns/015-ios-native-utilities.md
  .claude/patterns/016-ios-overlay-integration.md
  .claude/plans/001-ios-multipath-overlay-implementation.md
  .claude/settings.local.json
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGround.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPath.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPathManager.kt
  example/src/App.tsx
  example/src/logo180.png
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.h
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.mm
  ios/Overlay/Path/RNCNaverMapPath.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  package.json
  src/component/NaverMapMultiPathOverlay.tsx
  src/index.tsx
  src/spec/RNCNaverMapMultiPathNativeComponent.ts
  src/types/MultiPathPart.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

chore: migrate from yarn to pnpm
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/doc-publish.yml
  .gitignore
  .yarnrc.yml
  CLAUDE.md
  CONTRIBUTING.md
  README-en.md
  README.md
  example/.gitignore
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  script/release.sh
  yarn.lock
Due: none

chore: complete pnpm migration with workspace configuration
  example/README.md
  example/package.json
  package.json
  pnpm-workspace.yaml
  typedoc.json
Due: none

chore: update configuration files for Claude settings and TypeDoc
  .claude/settings.local.json
  public/doc.css
  typedoc.json
Due: none

feat: implement pnpm workspace catalog for dependency management
  example/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: complete @react-native packages catalog configuration
  example/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: unconscious commit 🎲
  .claude/settings.local.json
  example/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: finalize pnpm workspace catalog configuration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update iOS project paths and dependencies
  example/ios/Podfile.lock
  example/ios/example.xcodeproj/project.pbxproj
Due: none

yarn -> pnpm (#157)
  .claude/settings.local.json
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/doc-publish.yml
  .gitignore
  .yarnrc.yml
  CLAUDE.md
  CONTRIBUTING.md
  README-en.md
  README.md
  example/.gitignore
  example/README.md
  example/ios/Podfile.lock
  example/ios/example.xcodeproj/project.pbxproj
  example/package.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/doc.css
  script/release.sh
  tsconfig.json
  typedoc.json
  yarn.lock
Due: none

chore: fix commands
  CLAUDE.md
  package.json
  script/release.sh
Due: none

chore: release 2.6.0 [skip ci]
  package.json
Due: none

docs: remove typedoc references from documentation
  .claude/patterns/012-jsdoc.md
  CLAUDE.md
  typedoc.json
Due: none

feat: remove typedoc dependencies and configuration
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: none

chore: init docs
  .gitignore
  biome.json
  docs/.gitignore
  docs/README.md
  docs/biome.json
  docs/next.config.ts
  docs/package.json
  docs/postcss.config.mjs
  docs/public/file.svg
  docs/public/globe.svg
  docs/public/next.svg
  docs/public/vercel.svg
  docs/public/window.svg
  docs/src/app/favicon.ico
  docs/src/app/globals.css
  docs/src/app/layout.tsx
  docs/src/app/page.tsx
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:js, typecheck

chore: unconscious commit 🐋
  docs/biome.json
  docs/package.json
  pnpm-workspace.yaml
Due: none

chore: update commands
  .claude/commands/plan-create.md
  .claude/commands/spec.md
Due: none

chore: unconscious commit 🐋
  .claude/commands/plan-create.md
  pnpm-lock.yaml
Due: none

feat: enhance claude commands system
  .claude/commands/plan-create.md
  .claude/commands/plan-resolve.md
  .claude/commands/spec.md
  docs/src/app/page2.tsx
Due: lint:js, typecheck

refactor: remove Next.js docs structure
  docs/.gitignore
  docs/README.md
  docs/biome.json
  docs/next.config.ts
  docs/package.json
  docs/postcss.config.mjs
  docs/public/file.svg
  docs/public/globe.svg
  docs/public/next.svg
  docs/public/vercel.svg
  docs/public/window.svg
  docs/src/app/favicon.ico
  docs/src/app/globals.css
  docs/src/app/layout.tsx
  docs/src/app/page2.tsx
  docs/tsconfig.json
Due: lint:js, typecheck

chore: add nextra v4 documentation packages
  pnpm-lock.yaml
Due: none

feat: add nextra v4 documentation plan and pages
  .claude/pages/001-nextra-v4-documentation-research-and-planning-session.md
  .claude/plans/002-nextra-v4-문서-시스템-구축.md
Due: none

chore: add docs
  .claude/plans/002-nextra-v4-문서-시스템-구축.md
  .claude/settings.local.json
  CLAUDE.md
  docs/.gitignore
  docs/README.md
  docs/biome.json
  docs/next.config.ts
  docs/package.json
  docs/postcss.config.mjs
  docs/public/favicon.ico
  docs/public/favicon.png
  docs/public/logo.png
  docs/public/social-image.png
  docs/src/app/[[...mdxPath]]/page.jsx
  docs/src/app/apple-icon.png
  docs/src/app/favicon.ico
  docs/src/app/globals.css
  docs/src/app/icon.svg
  docs/src/app/layout.tsx
  docs/src/content/_meta.ts
  docs/src/content/config.mdx
  docs/src/content/getting-started.mdx
  docs/src/content/index.mdx
  docs/src/content/security.mdx
  docs/src/content/troubleshooting.mdx
  docs/src/content/usage.mdx
  docs/src/content/usage/_meta.ts
  docs/src/content/usage/build.mdx
  docs/src/content/usage/bump.mdx
  docs/src/content/usage/init.mdx
  docs/src/content/usage/pull.mdx
  docs/src/content/usage/submit.mdx
  docs/src/content/usage/upload.mdx
  docs/src/mdx-components.ts
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: lint:js, typecheck

chore: unconscious commit 🎲
  biome.json
  docs/biome.json
  docs/next.config.ts
  docs/postcss.config.mjs
  docs/src/app/layout.tsx
Due: lint:js, typecheck

chore: remove doc-publish workflow
  .github/workflows/doc-publish.yml
Due: none

chore: update documentation app icons
  docs/public/favicon.ico
  docs/public/favicon.png
  docs/src/app/apple-icon.png
  docs/src/app/favicon.ico
  docs/src/app/icon.svg
Due: none

feat: add lucide-react icons and update project configuration
  docs/.gitignore
  docs/package.json
  docs/src/app/favicon.ico
  docs/src/app/globals.css
  pnpm-lock.yaml
Due: none

refactor: remove old documentation structure
  docs/src/content/_meta.ts
  docs/src/content/config.mdx
  docs/src/content/security.mdx
  docs/src/content/troubleshooting.mdx
  docs/src/content/usage.mdx
  docs/src/content/usage/_meta.ts
  docs/src/content/usage/build.mdx
  docs/src/content/usage/bump.mdx
  docs/src/content/usage/init.mdx
  docs/src/content/usage/pull.mdx
  docs/src/content/usage/submit.mdx
  docs/src/content/usage/upload.mdx
Due: lint:js, typecheck

feat: add custom Card component with Lucide icons
  docs/src/lib/components/Card.tsx
  docs/src/lib/components/index.ts
Due: lint:js, typecheck

docs: implement complete React Native Naver Map documentation
  docs/src/content/api.mdx
  docs/src/content/components.mdx
  docs/src/content/components/_meta.ts
  docs/src/content/components/map-view.mdx
  docs/src/content/components/marker.mdx
  docs/src/content/components/overlays.mdx
  docs/src/content/getting-started.mdx
  docs/src/content/guides.mdx
  docs/src/content/index.mdx
  docs/src/content/installation/_meta.ts
  docs/src/content/installation/android.mdx
  docs/src/content/installation/expo.mdx
  docs/src/content/installation/ios.mdx
Due: lint:js, typecheck

chore: unconscious commit 🎲
  docs/src/app/layout.tsx
Due: lint:js, typecheck

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: *.{h,mm,m,hpp,cpp,c}
  lint:kotlin: any of: *.kt
  typecheck: any of: *.{ts,tsx}
