Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: pnpm biome check {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: pnpm tsc --noEmit

feat: implement location overlay customization
  docs/content/docs/location-overlay.ko.mdx
  docs/content/docs/location-overlay.mdx
  docs/content/docs/meta.json
  docs/content/docs/milestone.mdx
  example/src/App.tsx
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.mm
  package.json
  src/component/NaverMapGroundOverlay.tsx
  src/component/NaverMapMarkerOverlay.tsx
  src/component/NaverMapMultiPathOverlay.tsx
  src/component/NaverMapPathOverlay.tsx
  src/component/NaverMapView.tsx
  src/index.tsx
  src/internal/Util.ts
  src/types/ClusterMarkerProp.ts
  src/types/MapImageProp.ts
Due: lint:js, lint:objc, typecheck

fix: implement async image loading for iOS location overlay
  docs/content/docs/location-overlay.ko.mdx
  docs/content/docs/location-overlay.mdx
  example/src/App.tsx
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
Due: lint:js, lint:objc, typecheck

test: update location overlay example with custom image and adjusted styling
  example/src/App.tsx
Due: lint:js, typecheck

fix: correct location overlay subIcon assignment in Android
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
Due: lint:kotlin

chore: temporary fix for android studio gradle sync
  example/android/settings.gradle
Due: none

fix: android circleRadius, circleOutlineWidth rounding
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
Due: lint:kotlin

feat: implement location overlay customization (#166)
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  docs/content/docs/location-overlay.ko.mdx
  docs/content/docs/location-overlay.mdx
  docs/content/docs/meta.json
  docs/content/docs/milestone.mdx
  example/android/settings.gradle
  example/src/App.tsx
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  package.json
  src/component/NaverMapGroundOverlay.tsx
  src/component/NaverMapMarkerOverlay.tsx
  src/component/NaverMapMultiPathOverlay.tsx
  src/component/NaverMapPathOverlay.tsx
  src/component/NaverMapView.tsx
  src/index.tsx
  src/internal/Util.ts
  src/types/ClusterMarkerProp.ts
  src/types/MapImageProp.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

chore: release 2.6.4 [skip ci]
  package.json
Due: none

chore: update Naver Map SDK to 3.23.0
  README.md
  android/gradle.properties
  example/Gemfile
  example/Gemfile.lock
  example/ios/Podfile.lock
  mj-studio-react-native-naver-map.podspec
Due: none

chore: update Naver Map SDK to 3.23.0 (#167)
  README.md
  android/gradle.properties
  example/Gemfile
  example/Gemfile.lock
  example/ios/Podfile.lock
  mj-studio-react-native-naver-map.podspec
Due: none

docs: consolidate patterns into CLAUDE.md guide format
  .claude/commands/page-refer.md
  .claude/commands/page-save.md
  .claude/commands/pattern-create.md
  .claude/commands/pattern-use.md
  .claude/commands/plan-create.md
  .claude/commands/plan-resolve.md
  .claude/commands/spec-refer.md
  .claude/commands/spec.md
  .claude/patterns/001-fabric-native-component.md
  .claude/patterns/002-codegen-native-commands.md
  .claude/patterns/003-turbo-module-spec.md
  .claude/patterns/004-ios-fabric-component.md
  .claude/patterns/005-ios-command-handling.md
  .claude/patterns/006-ios-event-emission.md
  .claude/patterns/007-ios-turbo-module.md
  .claude/patterns/008-android-view-manager-spec.md
  .claude/patterns/009-android-command-handling.md
  .claude/patterns/010-android-event-emission.md
  .claude/patterns/011-android-package-registration.md
  .claude/patterns/012-jsdoc.md
  .claude/patterns/013-native-color-parsing-validation-typescript.md
  .claude/patterns/014-android-native-utilities.md
  .claude/patterns/015-ios-native-utilities.md
  .claude/patterns/016-ios-overlay-integration.md
  .claude/patterns/018-fumadocs-usage.md
  .claude/patterns/019-fumadocs-i18n-file-structure.md
  .claude/plans/001-custom-style-editor-implementation-for-navermapview.md
  .claude/plans/002-expo-sdk-54-example-repository-setup-with-submodule-integration.md
  .claude/settings.local.json
  CLAUDE.md
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve Android caption singleton bug causing update skips
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
Due: lint:kotlin

refactor: restructure example app with feature-based screens
  example/src/App.tsx
  example/src/components/Header.tsx
  example/src/components/ScreenLayout.tsx
  example/src/screens/ArrowheadPathScreen.tsx
  example/src/screens/CameraScreen.tsx
  example/src/screens/CircleScreen.tsx
  example/src/screens/CitiesScreen.tsx
  example/src/screens/ClusteringScreen.tsx
  example/src/screens/CommonScreen.tsx
  example/src/screens/GroundScreen.tsx
  example/src/screens/LocationOverlayScreen.tsx
  example/src/screens/MarkerScreen.tsx
  example/src/screens/MultiPathScreen.tsx
  example/src/screens/PathScreen.tsx
  example/src/screens/PolygonScreen.tsx
  example/src/screens/PolylineScreen.tsx
Due: lint:js, typecheck

chore: remove expoexample submodule
  .gitmodules
Due: none

refactor: separate mapRef from mapProps for better type safety
  example/src/components/ScreenLayout.tsx
  example/src/screens/CameraScreen.tsx
Due: lint:js, typecheck

fix: update mapRef type to RefObject<NaverMapViewRef | null>
  example/src/components/ScreenLayout.tsx
Due: lint:js, typecheck

fix: resolve Android caption singleton bug causing update skips (#168)
  .gitmodules
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  example/src/App.tsx
  example/src/components/Header.tsx
  example/src/components/ScreenLayout.tsx
  example/src/screens/ArrowheadPathScreen.tsx
  example/src/screens/CameraScreen.tsx
  example/src/screens/CircleScreen.tsx
  example/src/screens/CitiesScreen.tsx
  example/src/screens/ClusteringScreen.tsx
  example/src/screens/CommonScreen.tsx
  example/src/screens/GroundScreen.tsx
  example/src/screens/LocationOverlayScreen.tsx
  example/src/screens/MarkerScreen.tsx
  example/src/screens/MultiPathScreen.tsx
  example/src/screens/PathScreen.tsx
  example/src/screens/PolygonScreen.tsx
  example/src/screens/PolylineScreen.tsx
Due: lint:js, lint:kotlin, typecheck

chore: unconscious commit 🎲
  .gitignore
Due: none

feat: android info window
  .claude/settings.local.json
  .gitignore
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapUtilModule.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  android/src/newarch/RNCNaverMapUtilSpec.kt
  example/src/App.tsx
  example/src/screens/InfoWindowScreen.tsx
  ios/Module/RNCNaverMapUtil.h
  ios/Module/RNCNaverMapUtil.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapView.mm
  src/component/NaverMapMarkerOverlay.tsx
  src/component/NaverMapView.tsx
  src/hooks/useInfoWindow.ts
  src/index.tsx
  src/spec/NativeRNCNaverMapUtil.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
  src/spec/RNCNaverMapViewNativeComponent.ts
  src/util/NaverMapUtil.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

feat: implement InfoWindow component for Naver Map
  .claude/implementations/infowindow-implementation.md
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  android/src/newarch/RNCNaverMapInfoWindowManagerSpec.kt
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapInfoWindow.tsx
  src/index.tsx
  src/spec/RNCNaverMapInfoWindowNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

feat: enhance InfoWindow functionality with marker identifier support but ios not finish
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  package.json
  src/component/NaverMapInfoWindow.tsx
  src/component/NaverMapMarkerOverlay.tsx
  src/spec/RNCNaverMapInfoWindowNativeComponent.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

feat: enhance InfoWindow with platform-specific styling support and improved marker integration
  .claude/implementations/infowindow-implementation.md
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapInfoWindow.tsx
Due: lint:js, lint:objc, typecheck

feat: add InfoWindowScreen to App
  example/src/App.tsx
  example/src/screens/InfoWindowScreen.tsx
Due: lint:js, typecheck

docs: add NaverMapInfoWindow component for displaying info windows on markers
  docs/content/docs/components/overlays/meta.json
  docs/content/docs/components/overlays/meta.ko.json
  docs/content/docs/components/overlays/naver-map-info-window.ko.mdx
  docs/content/docs/components/overlays/naver-map-info-window.mdx
Due: none

refactor: clean up whitespace and improve code formatting
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/newarch/RNCNaverMapInfoWindowManagerSpec.kt
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.h
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapViewImpl.mm
Due: lint:objc, lint:kotlin

chore: remove redundant lines from the podspec
  mj-studio-react-native-naver-map.podspec
Due: none

feat: implement custom styling support for InfoWindow on iOS
  .claude/implementations/infowindow-implementation.md
  docs/content/docs/components/overlays/naver-map-info-window.ko.mdx
  docs/content/docs/components/overlays/naver-map-info-window.mdx
  example/src/screens/InfoWindowScreen.tsx
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  src/component/NaverMapInfoWindow.tsx
Due: lint:js, lint:objc, typecheck

feat: enhance InfoWindow component with separate horizontal and vertical padding properties
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindow.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/infowindow/RNCNaverMapInfoWindowManager.kt
  example/src/screens/InfoWindowScreen.tsx
  ios/Overlay/InfoWindow/RNCNaverMapInfoWindow.mm
  src/component/NaverMapInfoWindow.tsx
  src/spec/RNCNaverMapInfoWindowNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

chore: remove redundant lines from the podspec (#169)
  mj-studio-react-native-naver-map.podspec
Due: none

chore(example): migrate from deprecated SafeAreaView to react-native-safe-area-context
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/components/Header.tsx
  example/src/screens/CameraScreen.tsx
  example/src/screens/CircleScreen.tsx
  example/src/screens/CitiesScreen.tsx
  example/src/screens/ClusteringScreen.tsx
  example/src/screens/CommonScreen.tsx
  example/src/screens/GroundScreen.tsx
  example/src/screens/LocationOverlayScreen.tsx
  example/src/screens/MarkerScreen.tsx
  example/src/screens/MultiPathScreen.tsx
  example/src/screens/PathScreen.tsx
  example/src/screens/PolygonScreen.tsx
  example/src/screens/PolylineScreen.tsx
  pnpm-lock.yaml
Due: lint:js, typecheck

fix(android): setup location source for tracking modes
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
Due: lint:kotlin

chore(example): migrate from deprecated SafeAreaView to react-native-safe-area-context (#170)
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/components/Header.tsx
  example/src/screens/CameraScreen.tsx
  example/src/screens/CircleScreen.tsx
  example/src/screens/CitiesScreen.tsx
  example/src/screens/ClusteringScreen.tsx
  example/src/screens/CommonScreen.tsx
  example/src/screens/GroundScreen.tsx
  example/src/screens/LocationOverlayScreen.tsx
  example/src/screens/MarkerScreen.tsx
  example/src/screens/MultiPathScreen.tsx
  example/src/screens/PathScreen.tsx
  example/src/screens/PolygonScreen.tsx
  example/src/screens/PolylineScreen.tsx
  pnpm-lock.yaml
Due: lint:js, typecheck

fix(android): setup location source for tracking modes (#171)
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
Due: lint:kotlin

chore: release 2.6.5 [skip ci]
  package.json
Due: none

fix(android): migrate to DefaultLifecycleObserver to fix map tile rendering on remount
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
Due: lint:kotlin

refactor(android): improve lifecycle management and cleanup logic
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
Due: lint:kotlin

chore(example): update test screens
  example/src/screens/CitiesScreen.tsx
  example/src/screens/GroundScreen.tsx
Due: lint:js, typecheck

fix(android): migrate to DefaultLifecycleObserver to fix map tile rendering on remount (#174)
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
  example/src/screens/CitiesScreen.tsx
  example/src/screens/GroundScreen.tsx
Due: lint:js, lint:kotlin, typecheck

chore: release 2.6.6 [skip ci]
  package.json
Due: none

chore: approve dependencies builds
  pnpm-workspace.yaml
Due: none

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: *.{h,mm,m,hpp,cpp,c}
  lint:kotlin: any of: *.kt
  typecheck: any of: *.{ts,tsx}
