Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome check {staged_files}
    lint:objc:
      glob: "*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {staged_files}
    lint:kotlin:
      glob: "*.kt"
      run: bash ./script/ktlint-lint.sh {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

format:
  parallel: true
  commands:
    format:objc:
      glob: "*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-format.sh {all_files}
    format:kotlin:
      glob: "*.kt"
      run: bash ./script/ktlint-format.sh {all_files}
    format:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome check --fix

check:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm biome check {staged_files}
    lint:objc:
      glob: "*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {all_files}
    lint:kotlin:
      glob: "*.kt"
      run: bash ./script/ktlint-lint.sh {all_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit
    build:
      run: pnpm prepack

commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit

chore: unconscious commit
  CONTRIBUTING.md
  package.json
Due: none

chore: unconscious commit
  example/babel.config.js
  example/ios/example.xcodeproj/project.pbxproj
  example/metro.config.js
  example/package.json
  example/react-native.config.js
  example/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/component/NaverMapArrowheadPathOverlay.tsx
  src/component/NaverMapGroundOverlay.tsx
  src/component/NaverMapPathOverlay.tsx
  src/component/NaverMapPolygonOverlay.tsx
  src/component/NaverMapPolylineOverlay.tsx
  src/internal/Util.ts
  tsconfig.json
Due: lint:js, typecheck

chore: unconscious commit
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/doc-publish.yml
  .gitignore
  .yarnrc.yml
  CONTRIBUTING.md
  README-en.md
  README.md
  example/ios/Podfile.lock
  example/package-lock.json
  example/package.json
  example/tsconfig.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  script/release.sh
  src/spec/RNCNaverMapViewNativeComponent.ts
  tsconfig.json
  yarn.lock
Due: lint:js, typecheck

chore: unconscious commit 🦄
  example/ios/Podfile.lock
  example/ios/example.xcodeproj/project.pbxproj
  package.json
Due: none

chore: unconscious commit 🦄
  example/package.json
  example/react-native.config.js
  yarn.lock
Due: lint:js

chore: unconscious commit
  example/ios/Podfile.lock
  mj-studio-react-native-naver-map.podspec
Due: none

chore: unconscious commit
  example/android/app/build.gradle
  example/android/settings.gradle
  example/index.js
  example/ios/example.xcodeproj/project.pbxproj
  example/ios/example/Info.plist
  example/metro.config.js
  example/package.json
  example/react-native.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: lint:js

chore: unconscious commit
  CONTRIBUTING.md
  example/package.json
  package.json
  src/spec/RNCNaverMapArrowheadPathNativeComponent.ts
  src/spec/RNCNaverMapCircleNativeComponent.ts
  src/spec/RNCNaverMapGroundNativeComponent.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
  src/spec/RNCNaverMapPathNativeComponent.ts
  src/spec/RNCNaverMapPolylineNativeComponent.ts
  yarn.lock
Due: lint:js, typecheck

chore: unconscious commit
  src/spec/RNCNaverMapMarkerNativeComponent.ts
  src/spec/RNCNaverMapPathNativeComponent.ts
  src/spec/RNCNaverMapPolygonNativeComponent.ts
  src/spec/RNCNaverMapPolylineNativeComponent.ts
Due: lint:js, typecheck

chore: unconscious commit
  example/src/App.tsx
Due: lint:js, typecheck

chore: unconscious commit
  .github/actions/setup/action.yml
Due: none

chore: unconscious commit 🦄
  .github/workflows/ci.yml
Due: none

chore: remove permission request code from example home
  example/src/App.tsx
Due: lint:js, typecheck

chore: remove _isUserInteracting field
  ios/RNCNaverMapViewImpl.mm
Due: lint:objc

fix: react-native-permissions import correctly
  example/ios/Podfile.lock
  example/ios/example/PrivacyInfo.xcprivacy
  example/react-native.config.js
  example/src/App.tsx
Due: lint:js, typecheck

chore: unconscious commit
  example/ios/.xcode.env.local
Due: none

fix: iOS calls onCameraChanged during user's dragging correctly (#133)
  example/ios/example.xcodeproj/project.pbxproj
  example/react-native.config.js
  ios/RNCNaverMapViewImpl.mm
Due: lint:js, lint:objc

refactor: apply ktx on RNCNaverMapMarker.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
Due: lint:kotlin

style: format java files
  android/src/main/java/com/airbnb/android/react/maps/SizeReportingShadowNode.java
  android/src/main/java/com/airbnb/android/react/maps/TrackableView.java
  android/src/main/java/com/airbnb/android/react/maps/ViewAttacherGroup.java
Due: none

feat: apply ViewChangesTracker code from react-native-maps
  android/src/main/java/com/airbnb/android/react/maps/ViewAttacherGroup.java
  android/src/main/java/com/airbnb/android/react/maps/ViewChangesTracker.java
Due: none

Apply ViewChangesTracker.java from the latest react-native-maps (#128)
  android/src/main/java/com/airbnb/android/react/maps/SizeReportingShadowNode.java
  android/src/main/java/com/airbnb/android/react/maps/TrackableView.java
  android/src/main/java/com/airbnb/android/react/maps/ViewAttacherGroup.java
  android/src/main/java/com/airbnb/android/react/maps/ViewChangesTracker.java
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
Due: lint:kotlin

chore: release 2.5.0 [skip ci]
  package.json
Due: none

fix: import codegen types from internal
  src/spec/RNCNaverMapArrowheadPathNativeComponent.ts
  src/spec/RNCNaverMapCircleNativeComponent.ts
  src/spec/RNCNaverMapGroundNativeComponent.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
  src/spec/RNCNaverMapPathNativeComponent.ts
  src/spec/RNCNaverMapPolygonNativeComponent.ts
  src/spec/RNCNaverMapPolylineNativeComponent.ts
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

chore: release 2.5.1 [skip ci]
  package.json
Due: none

Update RNCNaverMapView.mm
  ios/RNCNaverMapView.mm
Due: lint:objc

fix: view changes tracker update
  android/src/main/java/com/airbnb/android/react/maps/TrackableView.java
  android/src/main/java/com/airbnb/android/react/maps/ViewChangesTracker.java
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
Due: lint:kotlin

feat<ios>: add caption prop into cluster marker
  ios/Overlay/Cluster/RNCNaverMapClusterKey.h
  ios/Overlay/Cluster/RNCNaverMapClusterKey.mm
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.h
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.mm
  ios/RNCNaverMapView.mm
  src/component/NaverMapView.tsx
Due: lint:js, lint:objc, typecheck

fix: view changes tracker update (#138)
  android/src/main/java/com/airbnb/android/react/maps/TrackableView.java
  android/src/main/java/com/airbnb/android/react/maps/ViewChangesTracker.java
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
Due: lint:kotlin

chore: release 2.5.2 [skip ci]
  package.json
Due: none

feat<ios>: set custom image to cluster
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.h
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.mm
  ios/RNCNaverMapView.mm
Due: lint:objc

fix<ios>: undefined bridge error clusterupdater
  ios/Overlay/Cluster/RNCNaverMapClusterMarkerUpdater.mm
Due: lint:objc

fix: format 수정
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
Due: lint:kotlin

style: 코드 포맷팅 수정
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
Due: lint:kotlin

fix: 안드로이드 ScrollView 내에서 사용시 상하 스크롤 터치 이벤트 충돌 또는 버블링 현상 수정 (#135)
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewWrapper.kt
Due: lint:kotlin

fix: align default values of map UI option props with Naver Map iOS SDK
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck
