Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: yarn biome check {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: yarn tsc --noEmit

fix: align default values of map UI option props with Naver Map iOS SDK (#141)
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

chore: release 2.5.3 [skip ci]
  package.json
Due: none

fix: ios marker tap
  ios/Overlay/Marker/RNCNaverMapMarker.mm
Due: lint:objc

chore: add comments
  ios/Overlay/Marker/RNCNaverMapMarker.mm
Due: lint:objc

chore: install pod
  example/ios/Podfile
  example/ios/Podfile.lock
Due: none

fix: update CI to use macos-15 with Xcode 16.0
  .github/workflows/ci.yml
Due: none

fix: update Xcode version to 16.4 and adjust marker sizes
  .claude/settings.local.json
  .github/workflows/ci.yml
  example/src/App.tsx
Due: lint:js, typecheck

fix: update CI to use macos-15 with Xcode 16.0 (#146)
  .claude/settings.local.json
  .github/workflows/ci.yml
  example/src/App.tsx
Due: lint:js, typecheck

fix: ios 마커 onTap 이벤트 동작 안 하는 버그 (#144)
  ios/Overlay/Marker/RNCNaverMapMarker.mm
Due: lint:objc

chore: update dependencies and add project documentation
  CLAUDE.md
  package.json
  yarn.lock
Due: none

docs: add Naver Maps SDK guide links to CLAUDE.md
  CLAUDE.md
Due: none

chore: release 2.5.4 [skip ci]
  package.json
Due: none

chore: bump Naver Maps SDK to 3.22.1
  CLAUDE.md
  README-en.md
  README.md
  android/gradle.properties
  example/Gemfile.lock
  example/ios/Podfile.lock
  mj-studio-react-native-naver-map.podspec
  package.json
Due: none

chore: bump Naver Maps SDK to 3.22.1 (#147)
  CLAUDE.md
  README-en.md
  README.md
  android/gradle.properties
  example/Gemfile.lock
  example/ios/Podfile.lock
  mj-studio-react-native-naver-map.podspec
  package.json
Due: none

refactor: refactor android java codes to kotlin
  android/src/main/java/com/airbnb/android/react/maps/SizeReportingShadowNode.java
  android/src/main/java/com/airbnb/android/react/maps/TrackableView.java
  android/src/main/java/com/airbnb/android/react/maps/ViewAttacherGroup.java
  android/src/main/java/com/airbnb/android/react/maps/ViewChangesTracker.java
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/SizeReportingShadowNode.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/TrackableView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/ViewAttacherGroup.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/ViewChangesTracker.kt
  biome.json
Due: lint:kotlin

refactor: refactor android java codes to kotlin (#148)
  android/src/main/java/com/airbnb/android/react/maps/SizeReportingShadowNode.java
  android/src/main/java/com/airbnb/android/react/maps/TrackableView.java
  android/src/main/java/com/airbnb/android/react/maps/ViewAttacherGroup.java
  android/src/main/java/com/airbnb/android/react/maps/ViewChangesTracker.java
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/SizeReportingShadowNode.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/TrackableView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/ViewAttacherGroup.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/ViewChangesTracker.kt
  biome.json
Due: lint:kotlin

fix: replace 0x0 bitmap creation with 1x1 transparent bitmap
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGround.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
Due: lint:kotlin

fix: replace 0x0 bitmap creation with 1x1 transparent bitmap (#149)
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/ground/RNCNaverMapGround.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarker.kt
Due: lint:kotlin

chore: append CLAUDE.md about docs style
  CLAUDE.md
Due: none

chore: append claude.md
  CLAUDE.md
Due: none

feat: implement MultiPath overlay for Naver Maps
  script/codegen.mjs
Due: none

feat: implement MultiPath overlay for Naver Maps
  CLAUDE.md
  README.md
  android/build.gradle
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPath.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPathManager.kt
  android/src/newarch/RNCNaverMapMultiPathManagerSpec.kt
  example/src/App.tsx
  package.json
  script/codegen.mjs
  src/component/NaverMapMultiPathOverlay.tsx
  src/index.tsx
  src/spec/RNCNaverMapMultiPathNativeComponent.ts
  src/types/MultiPathColorPart.ts
  yarn.lock
Due: lint:js, lint:kotlin, typecheck

style: apply code formatting and fix newline endings
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPath.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPathManager.kt
  src/index.tsx
  src/spec/RNCNaverMapMultiPathNativeComponent.ts
  src/types/MultiPathColorPart.ts
Due: lint:js, lint:kotlin, typecheck

chore: change readme.md
  README.md
Due: none

format<ios>: clusterkey h file
  ios/Overlay/Cluster/RNCNaverMapClusterKey.h
Due: lint:objc

fix: navermapview cluster marker key missing error
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

feat: add locationTrackingMode to onOptionChanged event
  README-en.md
  README.md
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapOptionChangeEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  example/src/App.tsx
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

feat: add locationTrackingMode to onOptionChanged event (#152)
  README-en.md
  README.md
  android/src/main/java/com/mjstudio/reactnativenavermap/event/NaverMapOptionChangeEvent.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  example/src/App.tsx
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

chore: install pod
  example/ios/Podfile.lock
Due: none

feat: flatten onOptionChanged prop type
  example/src/App.tsx
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

docs: update onOptionChanged event handler examples
  README-en.md
  README.md
  ios/RNCNaverMapViewImpl.mm
Due: lint:objc

fix: improve multipath coordParts handling with null safety
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPathManager.kt
Due: lint:kotlin

feat: temporarily disable multipath overlay export
  example/src/App.tsx
  src/index.tsx
Due: lint:js, typecheck

chore: update Podfile.lock
  example/ios/Podfile.lock
Due: none

feat: flatten onOptionChanged prop type (#154)
  README-en.md
  README.md
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/multipath/RNCNaverMapMultiPathManager.kt
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/RNCNaverMapViewImpl.mm
  src/component/NaverMapView.tsx
  src/index.tsx
Due: lint:js, lint:objc, lint:kotlin, typecheck

chore: bump version to 2.5.5
  package.json
Due: none

chore: release 2.5.6 [skip ci]
  package.json
Due: none

feat: use WithDefault for boolean props in native specs
  .claude/commands/page-refer.md
  .claude/commands/page-save.md
  .claude/commands/pattern-create.md
  .claude/commands/pattern-use.md
  .claude/commands/plan-create.md
  .claude/commands/plan-resolve.md
  .claude/commands/spec-refer.md
  .claude/commands/spec.md
  .claude/patterns/001-fabric-native-component.md
  .claude/patterns/002-codegen-native-commands.md
  .claude/patterns/003-turbo-module-spec.md
  .claude/patterns/004-ios-fabric-component.md
  .claude/patterns/005-ios-command-handling.md
  .claude/patterns/006-ios-event-emission.md
  .claude/patterns/007-ios-turbo-module.md
  .claude/patterns/008-android-view-manager-spec.md
  .claude/patterns/009-android-command-handling.md
  .claude/patterns/010-android-event-emission.md
  .claude/patterns/011-android-package-registration.md
  .claude/patterns/012-jsdoc-typedoc.md
  .claude/settings.local.json
  CLAUDE.md
  src/component/NaverMapArrowheadPathOverlay.tsx
  src/component/NaverMapCircleOverlay.tsx
  src/component/NaverMapGroundOverlay.tsx
  src/component/NaverMapMarkerOverlay.tsx
  src/component/NaverMapMultiPathOverlay.tsx
  src/component/NaverMapPathOverlay.tsx
  src/component/NaverMapPolygonOverlay.tsx
  src/component/NaverMapPolylineOverlay.tsx
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapArrowheadPathNativeComponent.ts
  src/spec/RNCNaverMapCircleNativeComponent.ts
  src/spec/RNCNaverMapGroundNativeComponent.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
  src/spec/RNCNaverMapMultiPathNativeComponent.ts
  src/spec/RNCNaverMapPathNativeComponent.ts
  src/spec/RNCNaverMapPolygonNativeComponent.ts
  src/spec/RNCNaverMapPolylineNativeComponent.ts
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

fix: make WithDefault boolean props optional in BaseOverlay specs
  CLAUDE.md
  src/spec/RNCNaverMapArrowheadPathNativeComponent.ts
  src/spec/RNCNaverMapCircleNativeComponent.ts
  src/spec/RNCNaverMapGroundNativeComponent.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
  src/spec/RNCNaverMapMultiPathNativeComponent.ts
  src/spec/RNCNaverMapPathNativeComponent.ts
  src/spec/RNCNaverMapPolygonNativeComponent.ts
  src/spec/RNCNaverMapPolylineNativeComponent.ts
Due: lint:js, typecheck

feat: use WithDefault for boolean props in native specs (#155)
  .claude/commands/page-refer.md
  .claude/commands/page-save.md
  .claude/commands/pattern-create.md
  .claude/commands/pattern-use.md
  .claude/commands/plan-create.md
  .claude/commands/plan-resolve.md
  .claude/commands/spec-refer.md
  .claude/commands/spec.md
  .claude/patterns/001-fabric-native-component.md
  .claude/patterns/002-codegen-native-commands.md
  .claude/patterns/003-turbo-module-spec.md
  .claude/patterns/004-ios-fabric-component.md
  .claude/patterns/005-ios-command-handling.md
  .claude/patterns/006-ios-event-emission.md
  .claude/patterns/007-ios-turbo-module.md
  .claude/patterns/008-android-view-manager-spec.md
  .claude/patterns/009-android-command-handling.md
  .claude/patterns/010-android-event-emission.md
  .claude/patterns/011-android-package-registration.md
  .claude/patterns/012-jsdoc-typedoc.md
  .claude/settings.local.json
  CLAUDE.md
  src/component/NaverMapArrowheadPathOverlay.tsx
  src/component/NaverMapCircleOverlay.tsx
  src/component/NaverMapGroundOverlay.tsx
  src/component/NaverMapMarkerOverlay.tsx
  src/component/NaverMapMultiPathOverlay.tsx
  src/component/NaverMapPathOverlay.tsx
  src/component/NaverMapPolygonOverlay.tsx
  src/component/NaverMapPolylineOverlay.tsx
  src/component/NaverMapView.tsx
  src/spec/RNCNaverMapArrowheadPathNativeComponent.ts
  src/spec/RNCNaverMapCircleNativeComponent.ts
  src/spec/RNCNaverMapGroundNativeComponent.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
  src/spec/RNCNaverMapMultiPathNativeComponent.ts
  src/spec/RNCNaverMapPathNativeComponent.ts
  src/spec/RNCNaverMapPolygonNativeComponent.ts
  src/spec/RNCNaverMapPolylineNativeComponent.ts
  src/spec/RNCNaverMapViewNativeComponent.ts
Due: lint:js, typecheck

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: *.{h,mm,m,hpp,cpp,c}
  lint:kotlin: any of: *.kt
  typecheck: any of: *.{ts,tsx}
