Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: pnpm biome check {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: pnpm tsc --noEmit

chore: unconscious commit 🎲
  .skills/dev-patterns.md
Due: none

chore: unconscious commit 🎲
  example/ios/Podfile.lock
Due: none

chore: unconscious commit 🎲
  ios/Module/RNCNaverMapUtil.mm
Due: lint:objc

ci: pin clang-format version for workflow checks
  .github/workflows/ci.yml
Due: none

chore(deps): align workspace catalogs and docs React override
  docs/package.json
  example/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(ios): use local util header imports
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapView.mm
Due: lint:objc

chore: unconscious commit 🎲
  android/src/newarch/RNCNaverMapUtilSpec.kt
Due: lint:kotlin

fix(ios): guard against nil iconImage in marker setImage callback
  ios/Overlay/Marker/RNCNaverMapMarker.mm
Due: lint:objc

fix(ios): restore marker alpha outside nil guard to prevent invisible markers
  ios/Overlay/Marker/RNCNaverMapMarker.mm
Due: lint:objc

fix(ios): guard against nil iconImage in marker setImage callback (#184)
  ios/Overlay/Marker/RNCNaverMapMarker.mm
Due: lint:objc

chore: release 2.7.1 [skip ci]
  package.json
Due: none

docs: reorganize agent knowledge
  .agents/knowledge/README.md
  .agents/knowledge/architecture.md
  .agents/knowledge/areas/native-platforms.md
  .agents/knowledge/areas/source-surface.md
  .agents/knowledge/areas/supporting-packages.md
  .agents/knowledge/patterns.md
  .agents/knowledge/workflows.md
  AGENTS.md
  CLAUDE.md
  android/AGENTS.md
  docs/AGENTS.md
  example/AGENTS.md
  expo-config-plugin/AGENTS.md
  ios/AGENTS.md
  script/AGENTS.md
  src/AGENTS.md
  src/component/AGENTS.md
  src/spec/AGENTS.md
Due: none

docs: reorganize agent knowledge (#186)
  .agents/knowledge/README.md
  .agents/knowledge/architecture.md
  .agents/knowledge/areas/native-platforms.md
  .agents/knowledge/areas/source-surface.md
  .agents/knowledge/areas/supporting-packages.md
  .agents/knowledge/patterns.md
  .agents/knowledge/workflows.md
  AGENTS.md
  CLAUDE.md
  android/AGENTS.md
  docs/AGENTS.md
  example/AGENTS.md
  expo-config-plugin/AGENTS.md
  ios/AGENTS.md
  script/AGENTS.md
  src/AGENTS.md
  src/component/AGENTS.md
  src/spec/AGENTS.md
Due: none

fix: remove iOS image loader bridge dependency
  ios/Overlay/ArrowheadPath/RNCNaverMapArrowheadPath.h
  ios/Overlay/Circle/RNCNaverMapCircle.h
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.mm
  ios/Overlay/Ground/RNCNaverMapGround.h
  ios/Overlay/Ground/RNCNaverMapGround.mm
  ios/Overlay/Marker/RNCNaverMapMarker.h
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.h
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.mm
  ios/Overlay/Path/RNCNaverMapPath.h
  ios/Overlay/Path/RNCNaverMapPath.mm
  ios/Overlay/Polygon/RNCNaverMapPolygon.h
  ios/Overlay/Polyline/RNCNaverMapPolyline.h
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  ios/Util/Image/ImageUtil.h
  ios/Util/Image/RNCNaverMapOverlayImageLoader.h
  ios/Util/Image/RNCNaverMapOverlayImageLoader.mm
Due: lint:objc

docs: sync workspace version knowledge
  .agents/knowledge/architecture.md
  .agents/knowledge/areas/supporting-packages.md
Due: none

docs: add rn upgrade plan bundle
  .agents/plans/upgrade-rn-0-85-1/evidence/react-native-changelog-0.81.0-to-0.85.1.md
  .agents/plans/upgrade-rn-0-85-1/evidence/upgrade-helper-file-list.md
  .agents/plans/upgrade-rn-0-85-1/notes.md
  .agents/plans/upgrade-rn-0-85-1/plan.md
  .agents/plans/upgrade-rn-0-85-1/tasks.md
Due: none

chore: track agent device skills artifacts
  .agents/plans/upgrade-rn-0-85-1/evidence/react-native-changelog-0.81.0-to-0.85.1.md
  .agents/plans/upgrade-rn-0-85-1/evidence/upgrade-helper-file-list.md
  .agents/plans/upgrade-rn-0-85-1/notes.md
  .agents/plans/upgrade-rn-0-85-1/plan.md
  .agents/plans/upgrade-rn-0-85-1/tasks.md
  .agents/skills/agent-device/SKILL.md
  .agents/skills/agent-device/references/bootstrap-install.md
  .agents/skills/agent-device/references/coordinate-system.md
  .agents/skills/agent-device/references/debugging.md
  .agents/skills/agent-device/references/exploration.md
  .agents/skills/agent-device/references/macos-desktop.md
  .agents/skills/agent-device/references/remote-tenancy.md
  .agents/skills/agent-device/references/verification.md
  skills-lock.json
Due: none

feat: upgrade example app to react native 0.85.1
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/com/example/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew.bat
  example/ios/Podfile.lock
  example/ios/example.xcodeproj/project.pbxproj
  example/ios/example/Info.plist
  example/ios/example/PrivacyInfo.xcprivacy
  example/metro.config.js
  example/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:js, lint:kotlin

fix: restore example ios autolinking
  example/ios/Podfile.lock
  example/ios/example/PrivacyInfo.xcprivacy
  example/react-native.config.js
Due: lint:js

docs: sync example package wiring knowledge
  .agents/knowledge/architecture.md
  .agents/knowledge/areas/supporting-packages.md
Due: none

docs: remove stale example secret setup notes
  CONTRIBUTING.md
Due: none

fix: align slider native dependency updates
  .agents/knowledge/areas/native-platforms.md
  .agents/knowledge/areas/supporting-packages.md
  .agents/knowledge/workflows.md
  example/ios/Podfile.lock
  example/package.json
  pnpm-lock.yaml
Due: none

feat: upgrade example app to react native 0.85.1 (#188)
  .agents/knowledge/architecture.md
  .agents/knowledge/areas/native-platforms.md
  .agents/knowledge/areas/supporting-packages.md
  .agents/knowledge/workflows.md
  .agents/skills/agent-device/SKILL.md
  .agents/skills/agent-device/references/bootstrap-install.md
  .agents/skills/agent-device/references/coordinate-system.md
  .agents/skills/agent-device/references/debugging.md
  .agents/skills/agent-device/references/exploration.md
  .agents/skills/agent-device/references/macos-desktop.md
  .agents/skills/agent-device/references/remote-tenancy.md
  .agents/skills/agent-device/references/verification.md
  CONTRIBUTING.md
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/com/example/MainApplication.kt
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew.bat
  example/ios/Podfile.lock
  example/ios/example.xcodeproj/project.pbxproj
  example/ios/example/Info.plist
  example/metro.config.js
  example/package.json
  example/react-native.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  skills-lock.json
Due: lint:js, lint:kotlin

fix: honor file image cancellation
  ios/Util/Image/RNCNaverMapOverlayImageLoader.mm
Due: lint:objc

fix: refresh example overlay assets
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/drawable/thumbnail.png
  example/ios/example/Images.xcassets/thumbnail.imageset/Contents.json
  example/ios/example/Images.xcassets/thumbnail.imageset/thumbnail.png
  example/ios/example/Images.xcassets/thumbnail.imageset/thumbnail@2x.png
  example/ios/example/Images.xcassets/thumbnail.imageset/thumbnail@3x.png
  example/src/screens/ArrowheadPathScreen.tsx
  example/src/screens/MarkerScreen.tsx
Due: lint:js, typecheck

chore: add codex environment
  .codex/environments/environment.toml
Due: none

Remove iOS RCTImageLoader/currentBridge dependency (#187)
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/res/drawable/thumbnail.png
  example/ios/example/Images.xcassets/thumbnail.imageset/Contents.json
  example/ios/example/Images.xcassets/thumbnail.imageset/thumbnail.png
  example/ios/example/Images.xcassets/thumbnail.imageset/thumbnail@2x.png
  example/ios/example/Images.xcassets/thumbnail.imageset/thumbnail@3x.png
  example/src/screens/ArrowheadPathScreen.tsx
  example/src/screens/MarkerScreen.tsx
  ios/Overlay/ArrowheadPath/RNCNaverMapArrowheadPath.h
  ios/Overlay/Circle/RNCNaverMapCircle.h
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.mm
  ios/Overlay/Ground/RNCNaverMapGround.h
  ios/Overlay/Ground/RNCNaverMapGround.mm
  ios/Overlay/Marker/RNCNaverMapMarker.h
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.h
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.mm
  ios/Overlay/Path/RNCNaverMapPath.h
  ios/Overlay/Path/RNCNaverMapPath.mm
  ios/Overlay/Polygon/RNCNaverMapPolygon.h
  ios/Overlay/Polyline/RNCNaverMapPolyline.h
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  ios/Util/Image/ImageUtil.h
  ios/Util/Image/RNCNaverMapOverlayImageLoader.h
  ios/Util/Image/RNCNaverMapOverlayImageLoader.mm
Due: lint:js, lint:objc, typecheck

chore: release 2.8.0 [skip ci]
  package.json
Due: none

docs: sync repository knowledge
  .agents/knowledge/README.md
  .agents/knowledge/architecture.md
  .agents/knowledge/areas/native-platforms.md
  .agents/knowledge/areas/source-surface.md
  .agents/knowledge/areas/supporting-packages.md
  .agents/knowledge/patterns.md
  .agents/knowledge/workflows.md
  AGENTS.md
Due: none

chore: pod install
  example/ios/Podfile.lock
Due: none

docs: refresh agent knowledge
  .agents/knowledge/README.md
  .agents/knowledge/areas/supporting-packages.md
  .agents/knowledge/design.md
  .agents/knowledge/patterns.md
  .agents/knowledge/workflows.md
  AGENTS.md
Due: none

docs: flatten agent knowledge routes
  .agents/knowledge/README.md
  .agents/knowledge/architecture.md
  .agents/knowledge/native-platforms.md
  .agents/knowledge/patterns.md
  .agents/knowledge/source-surface.md
  .agents/knowledge/supporting-packages.md
  .agents/knowledge/workflows.md
  AGENTS.md
Due: none

docs: refresh agent knowledge (#190)
  .agents/knowledge/README.md
  .agents/knowledge/architecture.md
  .agents/knowledge/design.md
  .agents/knowledge/native-platforms.md
  .agents/knowledge/patterns.md
  .agents/knowledge/source-surface.md
  .agents/knowledge/supporting-packages.md
  .agents/knowledge/workflows.md
  AGENTS.md
Due: none

chore: unconscious commit
  .agents/knowledge/architecture.md
  .agents/knowledge/native-platforms.md
  .agents/knowledge/patterns.md
  .agents/knowledge/rn-native-module.md
  .agents/knowledge/source-surface.md
  .agents/knowledge/workflows.md
  .gitignore
  .skills/dev-patterns.md
  AGENTS.md
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapUtilModule.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  android/src/newarch/RNCNaverMapUtilSpec.kt
  docs/package.json
  example/src/App.tsx
  example/src/screens/InfoWindowScreen.tsx
  ios/Module/RNCNaverMapUtil.h
  ios/Module/RNCNaverMapUtil.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapView.mm
  pnpm-lock.yaml
  src/component/NaverMapMarkerOverlay.tsx
  src/hooks/useInfoWindow.ts
  src/index.tsx
  src/util/NaverMapUtil.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

docs: document example safe area layout
  .agents/knowledge/design.md
Due: none

chore: remove local agent device skill
  .agents/skills/agent-device/SKILL.md
  .agents/skills/agent-device/references/bootstrap-install.md
  .agents/skills/agent-device/references/coordinate-system.md
  .agents/skills/agent-device/references/debugging.md
  .agents/skills/agent-device/references/exploration.md
  .agents/skills/agent-device/references/macos-desktop.md
  .agents/skills/agent-device/references/remote-tenancy.md
  .agents/skills/agent-device/references/verification.md
Due: none

fix: align info window example controls
  .agents/knowledge/design.md
  example/android/app/src/main/java/com/example/MainApplication.kt
  example/src/screens/InfoWindowScreen.tsx
Due: lint:js, lint:kotlin, typecheck

fix: address info window review feedback
  .agents/knowledge/native-platforms.md
  .agents/knowledge/patterns.md
  .agents/knowledge/supporting-packages.md
  .agents/knowledge/workflows.md
  AGENTS.md
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapUtilModule.kt
  docs/content/docs/components/index.ko.mdx
  docs/content/docs/components/index.mdx
  docs/content/docs/components/meta.json
  docs/content/docs/components/meta.ko.json
  docs/content/docs/components/use-info-window.ko.mdx
  docs/content/docs/components/use-info-window.mdx
Due: lint:kotlin

chore: remove claude code settings
  .claude/settings.local.json
Due: none

style: import info window module on android
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
Due: lint:kotlin

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: *.{h,mm,m,hpp,cpp,c}
  lint:kotlin: any of: *.kt
  typecheck: any of: *.{ts,tsx}
