Repository mym0404/react-native-naver-map: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:kotlin, typecheck

lint:js:
  run: pnpm biome check {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: pnpm tsc --noEmit

fix: rename info window example screen
  example/src/App.tsx
  example/src/screens/InfoWindowScreen.tsx
Due: lint:js, typecheck

docs: add repository working guidelines
  AGENTS.md
Due: none

refactor: tighten typescript api surface
  .agents/knowledge/patterns.md
  .agents/knowledge/source-surface.md
  docs/content/docs/components/use-info-window.ko.mdx
  docs/content/docs/components/use-info-window.mdx
  src/hooks/useInfoWindow.ts
  src/index.tsx
Due: lint:js, typecheck

refactor: decouple info window registry
  .agents/knowledge/native-platforms.md
  .agents/knowledge/rn-native-module.md
  android/src/main/java/com/mjstudio/reactnativenavermap/RNCNaverMapPackage.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapInfoWindowRegistry.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapUtilModule.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
Due: lint:kotlin

fix: render ios info window callout
  ios/Module/RNCNaverMapUtil.mm
Due: lint:objc

fix: align info window content api
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapInfoWindowRegistry.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapUtilModule.kt
  example/src/screens/InfoWindowScreen.tsx
  ios/Module/RNCNaverMapUtil.mm
  src/hooks/useInfoWindow.ts
  src/index.tsx
  src/spec/NativeRNCNaverMapUtil.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

fix: apply default location overlay anchor
  example/src/screens/LocationOverlayScreen.tsx
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

fix: apply default location overlay anchor (#191)
  example/src/screens/LocationOverlayScreen.tsx
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

fix: align info window docs api
  docs/content/docs/components/use-info-window.ko.mdx
  docs/content/docs/components/use-info-window.mdx
  src/hooks/useInfoWindow.ts
  src/index.tsx
Due: lint:js, typecheck

feat: expose info window placement options
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapInfoWindowRegistry.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapUtilModule.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/util/ArgUtil.kt
  docs/content/docs/components/index.ko.mdx
  docs/content/docs/components/index.mdx
  docs/content/docs/components/meta.json
  docs/content/docs/components/meta.ko.json
  docs/content/docs/info-window.ko.mdx
  docs/content/docs/info-window.mdx
  docs/content/docs/meta.json
  docs/content/docs/meta.ko.json
  example/src/screens/InfoWindowScreen.tsx
  ios/Module/RNCNaverMapUtil.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  src/component/NaverMapMarkerOverlay.tsx
  src/hooks/useInfoWindow.ts
  src/spec/NativeRNCNaverMapUtil.ts
  src/spec/RNCNaverMapMarkerNativeComponent.ts
Due: lint:js, lint:objc, lint:kotlin, typecheck

fix: stabilize info window callbacks
  src/hooks/useInfoWindow.ts
Due: lint:js, typecheck

fix: close info windows on native view teardown
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapView.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/mapview/RNCNaverMapViewManager.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/module/RNCNaverMapInfoWindowRegistry.kt
  android/src/main/java/com/mjstudio/reactnativenavermap/overlay/marker/RNCNaverMapMarkerManager.kt
  ios/Module/RNCNaverMapUtil.h
  ios/Module/RNCNaverMapUtil.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/RNCNaverMapView.mm
  ios/RNCNaverMapViewImpl.mm
Due: lint:objc, lint:kotlin

feat: add info window option controls to example
  example/src/screens/InfoWindowScreen.tsx
Due: lint:js, typecheck

fix: use default info window values in example
  example/src/screens/InfoWindowScreen.tsx
Due: lint:js, typecheck

fix: use default info window alignment in example
  example/src/screens/InfoWindowScreen.tsx
Due: lint:js, typecheck

chore: update Naver native SDKs
  .agents/knowledge/architecture.md
  README.md
  android/gradle.properties
  example/ios/Podfile.lock
  mj-studio-react-native-naver-map.podspec
Due: none

chore: refresh iOS pod lockfile
  example/ios/Podfile.lock
Due: none

fix: show ground overlay example
  .gitignore
  example/src/screens/GroundScreen.tsx
Due: lint:js, typecheck

fix: show ground overlay example (#193)
  .gitignore
  example/src/screens/GroundScreen.tsx
Due: lint:js, typecheck

[codex] Update Naver native SDKs (#192)
  .agents/knowledge/architecture.md
  README.md
  android/gradle.properties
  example/ios/Podfile.lock
  mj-studio-react-native-naver-map.podspec
Due: none

refactor: centralize ios thread utilities
  ios/Module/RNCNaverMapUtil.mm
  ios/Overlay/Circle/RNCNaverMapCircle.h
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.mm
  ios/Overlay/Ground/RNCNaverMapGround.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.mm
  ios/Overlay/Path/RNCNaverMapPath.mm
  ios/Overlay/Polygon/RNCNaverMapPolygon.h
  ios/Overlay/Polyline/RNCNaverMapPolyline.h
  ios/RNCNaverMapView.h
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  ios/Util/FnUtil.h
  ios/Util/Image/RNCNaverMapOverlayImageLoader.mm
Due: lint:objc

refactor: centralize ios thread utilities (#194)
  ios/Module/RNCNaverMapUtil.mm
  ios/Overlay/Circle/RNCNaverMapCircle.h
  ios/Overlay/Cluster/RNCNaverMapLeafMarkerUpdater.mm
  ios/Overlay/Ground/RNCNaverMapGround.mm
  ios/Overlay/Marker/RNCNaverMapMarker.mm
  ios/Overlay/MultiPath/RNCNaverMapMultiPath.mm
  ios/Overlay/Path/RNCNaverMapPath.mm
  ios/Overlay/Polygon/RNCNaverMapPolygon.h
  ios/Overlay/Polyline/RNCNaverMapPolyline.h
  ios/RNCNaverMapView.h
  ios/RNCNaverMapViewImpl.h
  ios/RNCNaverMapViewImpl.mm
  ios/Util/FnUtil.h
  ios/Util/Image/RNCNaverMapOverlayImageLoader.mm
Due: lint:objc

chore: release 2.9.0 [skip ci]
  package.json
Due: none

chore: replace object-hash with ohash
  package.json
  pnpm-lock.yaml
  src/component/NaverMapMarkerOverlay.tsx
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

chore: replace object-hash with ohash (#195)
  package.json
  pnpm-lock.yaml
  src/component/NaverMapMarkerOverlay.tsx
  src/component/NaverMapView.tsx
Due: lint:js, typecheck

fix(android): skip explicit Kotlin plugin when AGP registers the kotlin extension
  android/build.gradle
Due: none

fix(ios): serialise access to the overlay image cache
  ios/Util/Image/ImageUtil.h
Due: lint:objc

chore(ci): manage toolchain with mise
  .agents/knowledge/architecture.md
  .agents/knowledge/workflows.md
  .codex/environments/environment.toml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .nvmrc
  AGENTS.md
  mise.toml
  package.json
Due: none

fix(ci): retain pnpm metadata for turborepo
  .agents/knowledge/architecture.md
  package.json
Due: none

fix(ci): skip unavailable Android SDK tools package
  .github/workflows/ci.yml
Due: none

chore(ci): manage toolchain with mise (#198)
  .agents/knowledge/architecture.md
  .agents/knowledge/workflows.md
  .codex/environments/environment.toml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .nvmrc
  AGENTS.md
  mise.toml
  package.json
Due: none

fix(android): use explicit getter calls in SizeReportingShadowNode for RN 0.87+
  android/src/main/java/com/mjstudio/reactnativenavermap/util/view/SizeReportingShadowNode.kt
Due: lint:kotlin

chore: migrate releases to Changesets
  .agents/knowledge/architecture.md
  .agents/knowledge/supporting-packages.md
  .agents/knowledge/workflows.md
  .changeset/README.md
  .changeset/config.json
  .changeset/configure-releases.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  script/release.sh
Due: none

chore: use main stable and next beta releases
  .agents/knowledge/workflows.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
Due: none

chore: start next beta release cycle
  .changeset/configure-releases.md
  .changeset/pre.json
Due: none

fix: validate prerelease state before versioning
  .github/workflows/release.yml
Due: none

chore: enable the next beta release cycle (#201)
  .agents/knowledge/architecture.md
  .agents/knowledge/supporting-packages.md
  .agents/knowledge/workflows.md
  .changeset/README.md
  .changeset/config.json
  .changeset/configure-releases.md
  .changeset/pre.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  script/release.sh
Due: none

chore: version packages (beta)
  .changeset/pre/configure-releases.md
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: *.{h,mm,m,hpp,cpp,c}
  lint:kotlin: any of: *.kt
  typecheck: any of: *.{ts,tsx}
